<!DOCTYPE html>
<html>
    <head>
        <title>Prototype</title>
        <link rel="stylesheet" href="../style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        <script src="../js/script.js"></script>
    </head>
    <body>

        <!-- Header & Humburger Menu -->
        <header>
            <a href="#offcanvas-nav" uk-toggle uk-icon="icon:menu; ratio:3" class="logos"></a>
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
            
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header uk-text-large">Menu</li>
                        <br>
                        <br>
                        <br>
                        <li><a href="home.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: home"></span>HOME</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="profile.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: user"></span>PROFILE</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="team.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span>TEAM</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="favorite.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: heart"></span>LIKED</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="settings.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: cog"></span>SETTINGS</a></li>
                    </ul>
            
                </div>
            </div>
            <a href="home.html"><img src="../images/logo.png" class="header-logo uk-align-center" alt=""></a>
            <a uk-icon="icon:sign-out; ratio:3" class="logos" onclick="return logout1()"></a>
        </header>

        <!-- Home page -->
        <div id="home" onload="return getInfo()">
            <h1 class="uk-align-center">Latest game</h1>


            <!-- Game 1 JSON-->

            <script id="showInfo" type="text/template">
                <section>
                    <div class="latest-game uk-text-large uk-text-bolder" id="matchInfo">
                    </div>
                <div class="latest-game-info">
                    <div class="latest-game-info-1">
                        <p>Manchester United</p>
                        <img src="../images/logo/manU.png" alt="">
                    </div>
                    <div class="latest-game-info-1 latest-game-info-2">VS</div>
                    <div class="latest-game-info-1">
                        <p>Chelsea</p>
                        <img src="../images/logo/chelsea.jpg" alt="">
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-button-small" type="button" uk-toggle="target: #modal-example" onclick="return info()">More Information...</button>
                <a href="ticket.html"><button class="uk-button uk-button-danger uk-button-small moreInfo" type="button">Buy a ticket</button></a>
                <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <p class="uk-modal-title modal-title">Ticket information</p>
                        <div class="latest-game-info">
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Manchester United</p>
                                <img src="../images/logo/manU.png" alt="">
                            </div>
                            <div class="latest-game-info-1-modal latest-game-info-2 uk-align-center uk-text-middle">VS</div>
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large uk-margin-large-bottom">Chelsea</p>
                                <img class="uk-margin-top" src="../images/logo/chelsea.jpg" alt="">
                            </div>
                        </div>
                        <div class="modal-info uk-margin-large-top">
                            <p>Date:          <span class="uk-text-bold">01/12/2020</span></p>
                            <p>Time:          <span class="uk-text-bold">19:00  Kick Off</span></p>
                            <p>Stadium:       <span class="uk-text-bold">Old Trafford Staduium</span></p>
                            <p>Location:      <span class="uk-text-bold">Sir Matt Busby Way, Old Trafford, Greater Manchester</span></p>
                            <p>Ticket Price:  <span class="uk-text-bold">$1000</span></p>
                        </div>
                        <p class="uk-text-center">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Back</button>
                            <a href="ticket.html"><button class="uk-button uk-button-danger moreInfo" type="button">Buy a ticket</button></a>
                        </p>
                    </div>
                </div>
            </div>
                </section>
            </script>

            <!-- Game 1 -->
            <div class="latest-game uk-text-large uk-text-bolder">
                <div class="latest-game-info">
                    <div class="latest-game-info-1">
                        <p>Manchester United</p>
                        <img src="../images/logo/manU.png" alt="">
                    </div>
                    <div class="latest-game-info-1 latest-game-info-2">VS</div>
                    <div class="latest-game-info-1">
                        <p>Chelsea</p>
                        <img src="../images/logo/chelsea.jpg" alt="">
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-button-small" type="button" uk-toggle="target: #modal-example" onclick="return info()">More Information...</button>
                <a href="ticket.html"><button class="uk-button uk-button-danger uk-button-small moreInfo" type="button">Buy a ticket</button></a>
                <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <p class="uk-modal-title modal-title">Ticket information</p>
                        <div class="latest-game-info">
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Manchester United</p>
                                <img src="../images/logo/manU.png" alt="">
                            </div>
                            <div class="latest-game-info-1-modal latest-game-info-2 uk-align-center uk-text-middle">VS</div>
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large uk-margin-large-bottom">Chelsea</p>
                                <img class="uk-margin-top" src="../images/logo/chelsea.jpg" alt="">
                            </div>
                        </div>
                        <div class="modal-info uk-margin-large-top">
                            <p>Date:          <span class="uk-text-bold">01/12/2020</span></p>
                            <p>Time:          <span class="uk-text-bold">19:00  Kick Off</span></p>
                            <p>Stadium:       <span class="uk-text-bold">Old Trafford Staduium</span></p>
                            <p>Location:      <span class="uk-text-bold">Sir Matt Busby Way, Old Trafford, Greater Manchester</span></p>
                            <p>Ticket Price:  <span class="uk-text-bold">$1000</span></p>
                        </div>
                        <p class="uk-text-center">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Back</button>
                            <a href="ticket.html"><button class="uk-button uk-button-danger moreInfo" type="button">Buy a ticket</button></a>
                        </p>
                    </div>
                </div>
            </div>

             <!-- Game 2 -->
            <div class="latest-game uk-text-large uk-text-bolder">
                <div class="latest-game-info">
                    <div class="latest-game-info-1">
                        <p>Liverpool</p>
                        <img src="../images/logo/liverpool.png" alt="">
                    </div>
                    <div class="latest-game-info-1 latest-game-info-2">VS</div>
                    <div class="latest-game-info-1">
                        <p>Arsenal</p>
                        <img src="../images/logo/arsenal.png" alt="">
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-button-small moreInfo" type="button" uk-toggle="target: #modal-example1">More Information...</button>
                <a href="ticket2.html"><button class="uk-button uk-button-danger uk-button-small moreInfo" type="button">Buy a ticket</button></a>
                <div id="modal-example1" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <p class="uk-modal-title modal-title">Ticket information</p>
                        <div class="latest-game-info">
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Liverpool</p>
                                <img src="../images/logo/liverpool.png" alt="">
                            </div>
                            <div class="latest-game-info-1-modal latest-game-info-2 uk-align-center uk-text-middle">VS</div>
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Arsenal</p>
                                <img class="" src="../images/logo/arsenal.png" alt="">
                            </div>
                        </div>
                        <div class="modal-info uk-margin-large-top">
                            <p>Date:          <span class="uk-text-bold">01/12/2020</span></p>
                            <p>Time:          <span class="uk-text-bold">19:00  Kick Off</span></p>
                            <p>Stadium:       <span class="uk-text-bold">Anfield Staduium</span></p>
                            <p>Location:      <span class="uk-text-bold">Anfield, Liverpool, Merseyhside, England</span></p>
                            <p>Ticket Price:  <span class="uk-text-bold">$900</span></p>
                        </div>
                        <p class="uk-text-center">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Back</button>
                            <a href="ticket2.html"><button class="uk-button uk-button-danger moreInfo" type="button">Buy a ticket</button></a>
                        </p>
                    </div>
                </div>
            </div>

             <!-- Game 3 -->
            <div class="latest-game uk-text-large uk-text-bolder">
                <div class="latest-game-info">
                    <div class="latest-game-info-1">
                        <p>Manchester City</p>
                        <img src="../images/logo/manC.png" alt="">
                    </div>
                    <div class="latest-game-info-1 latest-game-info-2">VS</div>
                    <div class="latest-game-info-1">
                        <p>Tottenham Hotspur</p>
                        <img src="../images/logo/tottenham.png" alt="">
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-button-small moreInfo" type="button" uk-toggle="target: #modal-example2">More Information...</button>
                <a href="ticket3.html"><button class="uk-button uk-button-danger uk-button-small moreInfo" type="button">Buy a ticket</button></a>
                <div id="modal-example2" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <p class="uk-modal-title modal-title">Ticket information</p>
                        <div class="latest-game-info">
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Manchester CIty</p>
                                <img src="../images/logo/manC.png" alt="">
                            </div>
                            <div class="latest-game-info-1-modal latest-game-info-2 uk-align-center uk-text-middle">VS</div>
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Tottenham Hotspur</p>
                                <img class="" src="../images/logo/tottenham.png" alt="">
                            </div>
                        </div>
                        <div class="modal-info uk-margin-large-top">
                            <p>Date:          <span class="uk-text-bold">01/12/2020</span></p>
                            <p>Time:          <span class="uk-text-bold">19:00  Kick Off</span></p>
                            <p>Stadium:       <span class="uk-text-bold">Etihad Staduium</span></p>
                            <p>Location:      <span class="uk-text-bold">Etihad campus, Manchester, M11 3FF</span></p>
                            <p>Ticket Price:  <span class="uk-text-bold">$800</span></p>
                        </div>
                        <p class="uk-text-center">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Back</button>
                            <a href="ticket3.html"><button class="uk-button uk-button-danger moreInfo" type="button">Buy a ticket</button></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer-menu -->
        <footer class="uk-align-center">
            <div class="footer-menu-wrap">
                <div class="nav-overlay uk-navbar-left uk-width-1-4">

                    <a class="uk-navbar-toggle logos" uk-icon="icon:search; ratio:3" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            
                </div>
            
                <div class="nav-overlay uk-navbar-right uk-flex-1" hidden>
            
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input logos" type="search" placeholder="Search..." autofocus>
                        </form>
                    </div>
            
                    <a class="uk-navbar-toggle logos" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            
                </div>
                <div class="nav-overlay uk-navbar-right uk-width-3-4">
    
                    <ul class="uk-navbar-nav">
                        <li><a href="profile.html" class="footer-icon logos" uk-icon="icon:user; ratio:3"></a></li>
                        <li><a href="favorite.html" class="footer-icon logos" uk-icon="icon:heart; ratio:3"></a></li>
                        <li><a href="settings.html" class="footer-icon logos" uk-icon="icon:cog; ratio:3"></a></li>
                    </ul>
            
                </div>
            </div>
        </footer>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </body>
</html>

