<html>
    <head>
        <title>Prototype</title>
        <link rel="stylesheet" href="../style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        <script src="../js/js.js"></script>
        <script src="../../script.js"></script>
    </head>
    <body>

        <!-- Header & Humburger Menu -->
        <header>
            <a href="#offcanvas-nav" uk-toggle uk-icon="icon:menu; ratio:3" class="logos" hidden></a>
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
            
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header uk-text-large">Menu</li>
                        <br>
                        <br>
                        <br>
                        <li><a href="home.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: home"></span>HOME</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="favorite.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: user"></span>PROFILE</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="team.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span>TEAM</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="favorite.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: heart"></span>LIKED</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="settings.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: search"></span>SETTINGS</a></li>
                    </ul>
            
                </div>
            </div>
            <a href="home.html"><img src="../images/logo.png" class="header-logo uk-align-center" alt=""></a>
            <a href="" uk-icon="icon:sign-out; ratio:3" class="logos" hidden></a>
        </header>

            
        <div id="registration">
            <form class="uk-position-center" id="regForm" onsubmit="return reg()" name="regForm">
                <div class="uk-margin">
                    <label for="">User Name</label>
                    <input class="uk-input" id="uname" type="text" name="uname" placeholder="User Name" required>
                </div>
                <div class="uk-margin">
                    <label for="">Password</label>
                    <input class="uk-input" type="text" id="pword" name="pword" placeholder="Password" required>
                </div>
                <div class="uk-margin">
                    <label for="">First Name</label>
                    <input class="uk-input" type="text" id="fname" name="fname" placeholder="First Name" required>
                </div>
                <div class="uk-margin">
                    <label for="">Last Name</label>
                    <input class="uk-input" type="text" id="lname" name="lname" placeholder="Last Name">
                </div>
                <div class="uk-margin">
                    <label for="">Email</label>
                    <input class="uk-input" type="email" id="email" name="email" placeholder="Email">
                </div>
                <div class="uk-margin">
                    <label for="">Telephone</label>
                    <input class="uk-input" type="tel" id="phone" name="phone" placeholder="Phone number">
                </div>
                <div class="uk-margin">
                    <label for="">Home Address</label>
                    <input class="uk-input" type="text" id="address" name="address" placeholder="Home address">
                </div>
                <input type="text" value="member" name="privilege" hidden>
                <input class="uk-button uk-button-danger" type="submit" value="Register">
            </form>
        </div>
            
        
         <!-- footer-menu -->
         <footer class="uk-align-center" hidden>
            <div class="footer-menu-wrap">
                <div class="nav-overlay uk-navbar-left uk-width-1-4">

                    <a class="uk-navbar-toggle logos" uk-icon="icon:search; ratio:3" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            
                </div>
            
                <div class="nav-overlay uk-navbar-right uk-flex-1" hidden>
            
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input logos" type="search" placeholder="Search..." autofocus>
                        </form>
                    </div>
            
                    <a class="uk-navbar-toggle logos" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            
                </div>
                <div class="nav-overlay uk-navbar-right uk-width-3-4">
    
                    <ul class="uk-navbar-nav">
                        <li><a href="profile.html" class="footer-icon logos" uk-icon="icon:user; ratio:3"></a></li>
                        <li><a href="favorite.html" class="footer-icon logos" uk-icon="icon:heart; ratio:3"></a></li>
                        <li><a href="settings.html" class="footer-icon logos" uk-icon="icon:cog; ratio:3"></a></li>
                    </ul>
            
                </div>
            </div>
        </footer>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </body>
</html>