<!DOCTYPE html>
<html>
    <head>
        <title>Prototype</title>
        <link rel="stylesheet" href="../style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        <script src="../js/script.js"></script>
    </head>
    <body>

        <!-- Header & Humburger Menu -->
        <header>
            <a href="#offcanvas-nav" uk-toggle uk-icon="icon:menu; ratio:3" class="logos"></a>
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
            
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-nav-header uk-text-large">Menu</li>
                        <br>
                        <br>
                        <br>
                        <li><a href="home.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: home"></span>HOME</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="profile.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: user"></span>PROFILE</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="team.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span>TEAM</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="favorite.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: heart"></span>LIKED</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="settings.html" class="uk-text-large logos"><span class="uk-margin-small-right" uk-icon="icon: cog"></span>SETTINGS</a></li>
                    </ul>
            
                </div>
            </div>
            <a href="home.html"><img src="../images/logo.png" class="header-logo uk-align-center" alt=""></a>
            <a href="" uk-icon="icon:sign-out; ratio:3" class="logos"></a>
        </header>

        <!-- Ticket page -->
        <div id="ticket">
            <div class="latest-game uk-text-large uk-text-bolder">
                <div class="latest-game-info">
                    <div class="latest-game-info-1">
                        <p>Liverpool</p>
                        <img src="../images/logo/liverpool.png" alt="">
                    </div>
                    <div class="latest-game-info-1 latest-game-info-2">VS</div>
                    <div class="latest-game-info-1">
                        <p>Arsenal</p>
                        <img src="../images/logo/arsenal.png" alt="">
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-button-small uk-align-center uk-margin-small-top" type="button" uk-toggle="target: #modal-example4">More Information...</button>
                <div id="modal-example4" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <p class="uk-modal-title modal-title">Ticket information</p>
                        <div class="latest-game-info">
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Liverpool</p>
                                <img src="../images/logo/liverpool.png" alt="">
                            </div>
                            <div class="latest-game-info-1-modal latest-game-info-2 uk-align-center uk-text-middle">VS</div>
                            <div class="latest-game-info-1-modal">
                                <p class="uk-text-large">Arsenal</p>
                                <img class="" src="../images/logo/arsenal.png" alt="">
                            </div>
                        </div>
                        <div class="modal-info uk-margin-large-top">
                            <p>Date:          <span class="uk-text-bold">01/12/2020</span></p>
                            <p>Time:          <span class="uk-text-bold">19:00  Kick Off</span></p>
                            <p>Stadium:       <span class="uk-text-bold">Anfield Staduium</span></p>
                            <p>Location:      <span class="uk-text-bold">Anfield, Liverpool, Merseyhside, England</span></p>
                            <p>Ticket Price:  <span class="uk-text-bold">$900</span></p>
                        </div>
                        <p class="uk-text-center">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Back</button>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Buy a ticket -->
            <div id="buyTicket">
                <h1 class="uk-align-center">Buy a ticket</h1>
                <form class="uk-form-horizontal uk-margin-large uk-margin-medium-left uk-margin-medium-right">
        
                    
                    <div class="uk-align-center">
                        <label class="uk-form-label uk-text-large" for="form-horizontal-select">Ticket amount</label>
                        <div class="uk-form-controls uk-width-small uk-align-center">
                            <select class="uk-select" id="form-horizontal-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <a class="uk-button uk-button-secondary" href="#modal-center" uk-toggle>Choose your seat</a>
        
                    <div id="modal-center" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                    
                            <img src="../images/stadium.png" alt="">
                            <img src="../images/seat.jpeg" alt="">
                        </div>
                    </div>
        
                    <br>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-large" for="form-horizontal-select">Select your seat No.</label>
                        <div class="uk-form-controls uk-width-small uk-align-center">
                            <select class="uk-select" id="form-horizontal-select">
                                <option>Seat1</option>
                                <option>Seat2</option>
                                <option>Seat3</option>
                                <option>Seat4</option>
                                <option>Seat5</option>
                                <option>Seat6</option>
                                <option>Seat7</option>
                                <option>Seat8</option>
                                <option>Seat9</option>
                                <option>Seat10</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-large">Select your payment method</label>
                        <div class="uk-form-controls uk-form-controls-text">
                            <label class="uk-text-medium"><input class="uk-radio" type="radio" name="radio1"> Paypal</label><br>
                            <label class="uk-text-medium"><input class="uk-radio" type="radio" name="radio2"> Apple Pay</label><br>
                            <label class="uk-text-medium"><input class="uk-radio" type="radio" name="radio3"> Credit Card</label><br>
                            <label class="uk-text-medium"><input class="uk-radio" type="radio" name="radio4"> Others</label>
                        </div>
                    </div>
                    <button class="uk-button uk-button-danger  uk-button-large" type="button">Buy the ticket</button>
                </form>
            </div>
            
        </div>
        
         <!-- footer-menu -->
         <footer class="uk-align-center">
            <div class="footer-menu-wrap">
                <div class="nav-overlay uk-navbar-left uk-width-1-4">

                    <a class="uk-navbar-toggle logos" uk-icon="icon:search; ratio:3" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            
                </div>
            
                <div class="nav-overlay uk-navbar-right uk-flex-1" hidden>
            
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input logos" type="search" placeholder="Search..." autofocus>
                        </form>
                    </div>
            
                    <a class="uk-navbar-toggle logos" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            
                </div>
                <div class="nav-overlay uk-navbar-right uk-width-3-4">
    
                    <ul class="uk-navbar-nav">
                        <li><a href="profile.html" class="footer-icon logos" uk-icon="icon:user; ratio:3"></a></li>
                        <li><a href="favorite.html" class="footer-icon logos" uk-icon="icon:heart; ratio:3"></a></li>
                        <li><a href="settings.html" class="footer-icon logos" uk-icon="icon:cog; ratio:3"></a></li>
                    </ul>
            
                </div>
            </div>
        </footer>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </body>
</html>