<!DOCTYPE html>
<html>
    <head>
        <title>Prototype</title>
        <link rel="stylesheet" href="../style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    </head>
    <body>
        <div id="registration">
            <form class="uk-position-center" action="" method="POST">
                <div class="uk-margin">
                    <label for="">User Name</label>
                    <input class="uk-input" type="text" name="uname" placeholder="Full name">
                </div>
                <div class="uk-margin">
                    <label for="">Password</label>
                    <input class="uk-input" type="text" name="password" placeholder="Full name">
                </div>
                <div class="uk-margin">
                    <label for="">Email</label>
                    <input class="uk-input" type="email" name="email" placeholder="Email">
                </div>
                <div class="uk-margin">
                    <label for="">Telephone</label>
                    <input class="uk-input" type="tel" name="tel" placeholder="Phone number">
                </div>
                <div class="uk-margin">
                    <label for="">Home Address</label>
                    <input class="uk-input" type="text" name="address" placeholder="Home address">
                </div>
                <input type="text" value="member" name="privilege" hidden>
                <input type="submit" value="Register">
            </form>
        </div>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </body>
</html>